.review_container {
  display: flex;
  gap: 1.6rem;
  position: relative;
  width: 100%;
}

.review_container .review {
  background-color: #1e252a;
  color: white;
  padding: 1.5rem 0.58rem;
  border-radius: 0.6rem;
  min-width: 35rem;
  /* max-height: 30rem;
   */
  overflow: auto;
  opacity: 1;
  padding: 1.5rem;
  transform: scale3d(1.02, 1.02, 1);
  transition: opacity ease-in-out 0.4s;
}

.current_active {
  max-width: 35rem;

  padding: 1.5rem;

  position: absolute;
  left: 0;
}
.current_active:hover {
  transform: scale3d(1.02, 1.02, 1);
}

.review #profile_img,
.current_active #profile_img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid rgb(212, 212, 212);
}

.review #social_img,
.current_active #social_img {
  width: 20px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  right: 10px;
}

.info {
  display: flex;
  gap: 1.3rem;
  margin-bottom: 1.3rem;
}
.info h3 {
  font-size: 1.4rem;
  margin-top: 0.6rem;
}
#text {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}
.slide_icon {
  position: absolute;
  top: 55%;
  opacity: 0.5;
  font-size: 4rem;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.685);
  border-radius: 50%;
  user-select: none;
  z-index: 100;
}

.left_icon {
  left: 20px;
}

.right_icon {
  right: 20px;
}

.slide_icon:hover {
  opacity: 0.85;
}
